{% extends 'base.html.twig' %}

{% block title %}Detail video{% endblock %}
{% block body %}
    <div class="container-fluid col-6 text-center">
        <div class="form-group mt-3">
            <li class="form-control">Name of video : {{ video.name }}</li>
        </div>
        <div class="form-group">
            <img width="240" height="340" src="{{ video.imageUrl }}" alt=""/>
        </div>
        <div class="form-group">
            <li class="form-control">Date : {{ video.createdAt|date }}</li>
        </div>
        <div class="form-group">
            <li class="form-control">Commentaire : {{ video.content|nl2br }}</li>
        </div>
        <div class="form-group">
            <li class="form-control">Firstname : {{ video.user.firstname }}</li>
        </div>
    </div>
{% endblock %}